GameDesignDoc.md~
README.md~
background.cpp~
background.h~
mainwindow.cpp~
mainwindow.h~
thing.cpp~
thing.h~
.gitignore~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
